
<%- include('includes/employee/header.ejs')  %>
<!--header menu end-->
<!--sidebar start-->
<%- include('includes/employee/sidebar.ejs')  %>
<!--sidebar end-->
<!--main container start-->

<div class="main-container">
    <div class="alert alert-secondary text-center ">
        <h1>All Contracts</h1>

    </div>
<table class="table  table-bordered table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>Contract No</th>
            <th>FullName</th>
            <th>Tin No.</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Room Size</th>
            <th>RoomId</th>
            <th>Room Type</th>
            <th>Price</th>
            <th>Date</th>
            <th>Advance</th>
        </tr>
        </thead>
        <tbody>
            <% ContractDetail.forEach(ContractDetail => {%>
                <tr>
                <td><%=ContractDetail._id %></td>
                <td><%=ContractDetail.contractNo %></td>
                <td><%=ContractDetail.fullname %></td>
                <td><%=ContractDetail.tinnumber%></td>
                <td><%=ContractDetail.startDate %></td>
                <td><%=ContractDetail.endDate %></td>
                <td><%=ContractDetail.roomsize%></td>
                <td><%=ContractDetail.roomno%></td>
                <td><%=ContractDetail.roomtype%></td>
                <td><%=ContractDetail.price %></td>
                <td><%=ContractDetail.date %></td>
                <td><%=ContractDetail.advance %></td>
                <td class="d-flex">
                    <a href="/admin/posts/edit/{{_id}}" class="btn btn-sm btn-warning mr-2">Edit Post</a>
                
                    <form action="/admin/posts/delete/{{id}}?newMethod=DELETE" method="post">
                        <button class="btn btn-sm btn-danger" type="submit">Delete Post</button>
                    </form>
                    </td>
            </tr>

            
       <% }); %> 
          
        </tbody>
</table>
   
</div>